<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Data Watcher</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Data Watcher</h1>
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Field 1</th>
            <th scope="col">Field 2</th>
            <th scope="col">Field 3</th>
            <th scope="col">Field 4</th>
            <th scope="col">Field 5</th>
            <th scope="col">Field 6</th>
            <th scope="col">Field 7</th>
            <th scope="col">Field 8</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.field1 }}</td>
            <td>{{ d.field2 }}</td>
            <td>{{ d.field3 }}</td>
            <td>{{ d.field4 }}</td>
            <td>{{ d.field5 }}</td>
            <td>{{ d.field6 }}</td>
            <td>{{ d.field7 }}</td>
            <td>{{ d.field8 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/export" class="btn btn-primary mt-3">Export to EXCEL</a>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
